.note{
  display: block;
  position: relative;
}

.topLine{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  padding-top: .3em;
  padding-bottom: .4em;
}

.note:first-child>.topLine{
  padding-top: .3em;
}
.note.isParent:not(.isCollapsed)>.topLine, .note:last-child>.topLine{
  padding-bottom: .3em;
}

.left{
  padding-top: 3px;
  padding-left: .1em;
  display: flex;
  align-items: center;
  height: 1em;
}

.bullet{
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  cursor: pointer;
  z-index: 500;
}
/**/
.bullet::before{
  display: block;
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="lightgray" /></svg>');
  visibility: hidden;
}

.bullet:hover::before{
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  visibility: visible;
  position: absolute;
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="darkgray" /></svg>');
}

.note>.topLine .bullet::after, .note>.topLine .bullet:hover::after{
  position: relative;
  top: -20%;
  left: -20%;
  height: 140%;
  width: 140%;
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="20" fill="gray" /></svg>');
  display: block;
}

.contentHolder{
  margin-left: .4em;
  max-width: 95%;
}

.content{
  outline: 0px solid transparent;
  display: inline;
  overflow-wrap: break-word;
  padding-left: 1px;
}

.note>.children{
  margin-left: 2em;
  border-left: 1px solid #E9E9E9;
  padding-left: .2em;
}
