
#breadcrumbs{
  display: none;
}
body.zooming #breadcrumbs{
  display: inline-block;
}
#breadcrumbs span{
  color: gray;
  cursor: pointer;
}
#breadcrumbs span::before{
  cursor: default;
  color: lightgray;
  content: ">";
  padding-left: 1em;
  padding-right: 1em;
}
