.displayDueDates .dueDate[data-prop-due-date]:not([data-prop-effective-due-date=""]){
  display: inline-block;
}

.displayEffectiveDueDates .dueDate:not([data-prop-effective-due-date=""]){
  display: inline-block;
}

.dueDate{
  position: relative;
  display: none;
  user-select: none;
  cursor: pointer;
  font-size: .8em;
}
[data-prop-effective-due-date].dueDate::before{
  display: inline-block;
  content: '\231A\00A0' attr(data-prop-effective-due-date);
}
.dueDate[data-prop-due-date]::before{
  border-bottom: 1px solid black;
  border-bottom-style: dotted;
}
.dueDate[data-prop-due-date] .clearDate::after{
  content: "\2716";
  color: gray;
  color: lightgray;
  padding-left: .2em;
}

.contentHolder[data-prop-effective-due-date="due"]>.dueDate::before{
  color: red;
}
