.toggle{
  background-color: white;
  position: relative;
  width: 1em;
  height: 1em;
  margin-right: .4em;
  margin-left: .1em;
  cursor: pointer;
  visibility: hidden;
}
.isParent:not(.isCollapsed)>.topLine:hover .toggle::before{
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 20 50 H 80" fill="transparent" stroke="darkgray" stroke-width="12" stroke-linecap="round"/></svg>');
  visibility: visible;
}
.toggle::before{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
