.priority{
  font-size: .8em;
  display: inline-block;
}

.priority[data-prop-effective-priority]::before{
  content: "\00A0";
  display: inline-block;
  border-left: 3px solid;
}
.priority:not([data-prop-priority])[data-prop-effective-priority="normal"]::before{
  display: none;
}
.priority[data-prop-effective-priority="normal"]::before{
  border-left-color: lightgreen;
}
.priority[data-prop-effective-priority="important"]::before{
  border-left-color: #ffbf00;
}
.priority[data-prop-effective-priority="critical"]::before{
  border-left-color: pink;
}

.priority[data-prop-priority]::before{
  content: attr(data-prop-effective-priority);
  border-bottom: 1px solid black;
  border-bottom-style: dotted;
  padding-left: .2em;
}

.priority[data-prop-priority] .clearPriority::after{
  content: "\2716";
  color: lightgray;
  cursor: pointer;
  padding-left: .2em;
}
