.timeEstimate{
  font-size: .8em;
  display: none;
}

.displayTimeEstimate .timeEstimate{
  display: inline-block;
}

.timeEstimate[data-prop-time-estimate]::before{
  content: attr(data-prop-time-estimate);
  color: gray;
  font-style: italic;
  padding-left: .2em;
}
