<html>
<head>
  <title>Flow</title>
  <script src='bundle.js'></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' href='styles.css'>
  <base target="_blank">
</head>
<body data-display='outline' spellcheck="false">
<div id='holder'>
  <div id='topbar'>
    <div id='navigation'>
      <div id='navigationHome' class="fas fa-home" data-hash-target=''></div>
      <div id='breadcrumbs'></div>
    </div>
    <div id='inboxIcon' class="fas fa-inbox" data-hash-target='inbox'></div>
    <div id='outlineIcon' class="fas fa-list-ul" data-hash-target=''></div>
    <div id='todoIcon' class="fas fa-clipboard-list" data-hash-target='todo'></div>
    <div id='toggleCompleted' class="far fa-check-square"></div>
    <div id='search'><div id='searchBoxHolder'><input type='text' placeholder='&#xF002;'></input></div></div>
  </div>
  <div id='content'>
    <div id='inbox'>Inbox</div>
    <div id='outline' class='display'>
      <div id='notes'>
      </div>
    </div>
    <div id='todo'>Todo</div>
  </div>
</div>
</body>
</html>
