<html>
<head>
  <title>Flow</title>
  <script src='bundle.js'></script>
  <link rel='stylesheet' type='text/css' href='styles.css'>
  <base target="_blank">
</head>
<body spellcheck="false" data-events-handler='body'>
  <div id='panelsHolder' class='one'>
    <div class='panel' id='panel1' data-panel='one' data-events-handler='panel'><div class='corner' data-events-handler='panel-corner'></div></div>
    <div class='panel' id='panel2' data-panel='two' data-events-handler='panel'><div class='corner' data-events-handler='panel-corner'></div></div>
    <div class='panel' id='panel3' data-panel='three' data-events-handler='panel'><div class='title'>Todo</div></div>
  </div>
<div id='saveIndicator'></div>
</body>
</html>
