.dateBox{
  cursor: default;
  position: absolute;
  bottom: 0px;
  left: 0px;
  user-select: none;
  font-size: 13px;
}
.dateBox .shell{
  position: absolute;
  top: 1em;
  left: 0px;
  background-color: white;
  z-index: 1000;
  min-width: 215px;
  border: 1px solid black;
  border-radius: 3px;
  overflow: hidden;
}
.dateBox .monthYear{
  border-bottom: 1px solid black;
  width: 100%%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dateBox .monthYear span{
  margin: 1px auto;
  cursor: pointer;
}
.dateBox .monthYear span:hover{
  font-weight: bold;
}
.dateBox .days, .dateBox .dates, .dateBox .row{
  overflow: hidden;
}
.dateBox .dates{
  padding: 1px;
}
.dateBox .days div, .dateBox .row div{
  display: inline-block;
  width: 30px;
  text-align: center;
  overflow: hidden;
  padding: 2px;
}
.dateBox .days {
  background-color: #E9E9E9;
}
.dateBox .otherMonth{
  color: gray;
}
.dateBox .dates .row div{
  cursor: pointer;
}
.dateBox .dates .row div:hover{
  background-color: #96DED1;
}
.dateBox .dates .row .today{
  border: 1px solid red;
  border-radius: 10px;
  padding: 1px;
}
.dateBox .dates .row .selected{
  font-weight: bold;
  border: 1px solid black;
  padding: 1px;
}
.bullet{
  z-index: 100;
}
.dragDropTop{
  width: 95%;
  height: 50%;
  position: absolute;
  display: none;
  z-index: 51;
}
.dragDropTop.hover{
  border-top: 2px solid #96DED1;
}
.dragDropBottom{
  width: 95%;
  height: 50%;
  top: 50%;
  position: absolute;
  display: none;
  z-index: 50;
  background-color: transparent;
}
.dragDropBottom.hover{
  border-bottom: 2px solid #96DED1;
}
.dragDropHappening .dragDropTop, .dragDropHappening .dragDropBottom{
  display: block;
}

.bullet.hover::before{
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="#96DED1" /></svg>');
  visibility: visible;
}

.dragOrigin{
  background-color: #F5F5F5;
}
.dragDropHappening .dragOrigin + .note>.topLine>.contentHolder>.dragDropTop, .dragDropHappening .dragDropOrigin + .note>.topLine>.contentHolder>.dragDropBottom{
  display: none;
}
#inbox .emptyMessage{
  display: none;
  margin-left: 5%;
  font-size: 32px;
}

#inbox .emptyMessage:last-of-type{
  display: block;
}

#inbox{
  width: 30%;
  min-height: 60%;
  margin-left: 0;
  margin-right: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid gray;
  border-radius: 4px;
}

body[data-display='inbox'] #outline{
  width: 60%;
  border: 1px solid gray;
  border-radius: 4px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 2em;
  min-height: 60%;
}

body[data-display='inbox'] #outline .isImportant::after{
  right: 56vw;
}
*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: gray;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

body{
  font-family: Droid Sans;
  font-size: 13px;
  color: rgb(51, 51, 51);
  padding: 0px;
  margin: 0px;
}

input{
  font-family: Helvetica;
  font-size: 11px;
  color: rgb(51, 51, 51);
}

#topbar{
  width: 100%;
  border-bottom: solid 1px #f1f1f1;
  background-color: white;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  color: lightgray;
  position: fixed;
  overflow-x: visible;
}

#navigationHome{
  padding: 8px;
  cursor: pointer;
}

#todoIcon{
  padding: 8px;
  cursor: pointer;
}

#outlineIcon{
  padding: 8px;
  cursor: pointer;
}

#inboxIcon{
  color: #96DED1;
  margin-left: auto;
  padding: 8px;
  cursor: pointer;
}

#toggleCompleted{
  padding: 8px;
  margin-left: 24px;
  cursor: pointer;
}

.showCompleted #toggleCompleted{
  color: gray;
}

#search{
  padding: 8px;
  width: 15%;
}

#searchBoxHolder{
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  width: 100%;
}

#searchBoxHolder input{
  border: none;
  width: 100%;
}

#searchBoxHolder input::placeholder{
  font: 900 1em 'Font Awesome 5 Free';
  color: lightgray;
  text-align: right;
}

div, input{
  outline: none;
}

#content{
  padding: 3em;
  padding-top: 8em;
  margin-bottom: 14em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: space-around;
}

#content>div{
  display:none;
}

body[data-display='inbox'] #inbox, body[data-display='inbox'] #outline{
  display: block;
}
body[data-display='outline'] #outline{
  display: block;
}
body[data-display='todo'] #todo{
  display: block;
}

#outline, #inbox, #todo{
  position: relative;
}

#outline{
  width: 40%;
}

#todo{
  width: 100%;
  display: flex;
  position: relative;
}
#schedule, #cascade{
  display: inline-block;
}
#cascade{
  width: 50%;
  min-height: 60%;
  display: inline-block;
}
#schedule{
  position: absolute;
  width: 49%;
  display: inline-block;
}

#breadcrumbs{
  display: none;
}
body.zooming #breadcrumbs{
  display: inline-block;
}
#breadcrumbs span{
  color: gray;
  cursor: pointer;
}
#breadcrumbs span::before{
  cursor: default;
  color: lightgray;
  content: ">";
  padding-left: 1em;
  padding-right: 1em;
}

#holder{
  position: relative;
}
.note{
  display: block;
  position: relative;
}

.topLine{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  padding-top: .3em;
  padding-bottom: .4em;
}

.note:first-child>.topLine{
  padding-top: .3em;
}
.note.isParent:not(.isCollapsed)>.topLine, .note:last-child>.topLine{
  padding-bottom: .3em;
}

.left{
  padding-top: 3px;
  padding-left: .1em;
  display: flex;
  align-items: center;
  height: 1em;
}

.toggle{
  background-color: white;
  position: relative;
  width: 1em;
  height: 1em;
  margin-right: .4em;
  margin-left: .1em;
  cursor: pointer;
  visibility: hidden;
}
.isParent:not(.isCollapsed)>.topLine:hover .toggle::before{
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 20 50 H 80" fill="transparent" stroke="darkgray" stroke-width="12" stroke-linecap="round"/></svg>');
  visibility: visible;
}
.toggle::before{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
.isParent.isCollapsed>.topLine:hover .toggle::before{
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 20 50 H 80 M 50 80 V 20" fill="transparent" stroke="darkgray" stroke-width="12" stroke-linecap="round"/></svg>');
  visibility: visible;
}

.isCollapsed>.children{
  display: none;
}

.bullet{
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
/**/
.bullet::before{
  display: block;
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="lightgray" /></svg>');
  visibility: hidden;
}
.isParent.isCollapsed>.topLine .bullet::before{
  visibility: visible;
}
.bullet:hover::before{
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  visibility: visible;
  position: absolute;
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="darkgray" /></svg>');
}

.note>.topLine .bullet::after, .note>.topLine .bullet:hover::after{
  position: relative;
  top: -20%;
  left: -20%;
  height: 140%;
  width: 140%;
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="20" fill="gray" /></svg>');
  display: block;
}
.isTodo>.topLine .bullet::after{
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><rect x="25" y="25" width="50" height="50" rx="10" ry="10" stroke="black" fill="white" stroke-width = "2" /></svg>');
}
.isTodo.isComplete>.topLine .bullet::after{
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><rect x="25" y="25" width="50" height="50" rx="10" ry="10" stroke="black" stroke-width = "2" fill="none" /><path d="m 35 50 l 15 15 l 20 -40" stroke="darkgray" stroke-width = "12" stroke-linecap="round" fill = "none" /></svg>');
}

.contentHolder{
  margin-left: .4em;
  width: 100%;
}


.content{
  outline: 0px solid transparent;
  display: inline-block;
  padding-left: 1px;
}

.children{
  margin-left: 2em;
  border-left: 1px solid #E9E9E9;
  padding-left: .2em;
}

.zoom>.topLine>.left{
  display: none;
}
.zoom>.topLine>.contentHolder>.content{
  font-size: 24px;
  font-weight: bold;
}
.zoom>.children{
  margin-left: -.5em;
  border-left: none;
  margin-top: 1em;
  padding-left: 0;
}
.zooming #outline .note:not(.zoom){
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  position: initial;
}
.zoom{
  position: absolute;
  top:0;
  left:0;
  pointer-events: all;
  visibility: visible;
}
.zooming #outline .zoom .note{
  pointer-events: all;
  visibility: visible;
}

.isComplete>.topLine>.contentHolder>.content{
  text-decoration: line-through;
}
.isComplete{
  color: lightgray;
  display: none;
}

.showCompleted .isComplete{
  display: initial;
}
#schedule{
  height: 100%;
}

#tabs{
  position: relative;
  height: 100%;
  margin-right: 5%;
}

.tab{
  display: inline-block;
  border: 1px solid gray;
  height: 1.5em;
  float: left;
}
.tab:not(:first-of-type){
  border-left: 0px;
}
.tab:first-of-type{
  border-top-left-radius: 4px;
}
.tab:first-of-type label{
  border-top-left-radius: 4px;
}
.tab:last-of-type{
  border-top-right-radius: 4px;
}
.tab:last-of-type label{
  border-top-right-radius: 4px;
}
.tab label{
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
  user-select: none;
  cursor: pointer;
}
.tab [type=radio] {
  display: none;
}
#tabs .content {
  position: absolute;
  border: 1px solid gray;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  top: 1.5em;
  margin-top: -1px;
  left: 0;
  background: white;
  width: 100%;
  padding: 10px;
  opacity: 0;
  min-height: 100%;
}

[type=radio]:checked ~ label {
  margin-top: -2px;
  background: white;
  padding-top: 1px;
  border-top: 1px solid gray;
  border-bottom: 1px solid white;
  padding-bottom:2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 2;
}
#tabs [type=radio]:checked ~ label ~ .content {
  z-index: 1;
  opacity: 1;
}
/*
useful for something else
.searching .note>.topLine{
  display: none;
}
.searching .note.found>.topLine{
  display: flex;
}
.searching .children{
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}
*/

.searching .note>.topLine{
  display: none;
}
.searching .note.foundAncestor>.topLine{
  display: flex;
}
.searching .note.found>.topLine{
  display: flex;
}

.foundAncestor:not(.found)>.topLine{
  color: lightgray;
}
.priority{
  color: grey;
}

.isImportant::after{
  display: block;
  position: absolute;
  top: .3em;
  right: 39vw;
  text-align: right;
  color: red;
  content: "!";
  font-weight: bold;
}

.isProjectAndIfSoPriority>.topLine .content{
  font-weight: bold;
}

.email{
  color: gray;
}
.email::before{
  margin-right: .5em;
}

.hidden{
  position: absolute;
  opacity: 0;
  z-index: -1000;
  pointer-events: none;
}

.timeEstimate{
  background-color: #FFE9EC;
  font-style: italic;
}

a:link, a:visited, a:active, .tag{
  color: grey;
  text-decoration: underline;
  text-decoration-color: lightgray;
}
a.tag{
  text-decoration: none;
}
.tag:hover{
  background-color: #f1f1f1;
  border-radius: 4px;
  cursor: pointer;
}

.dueDate{
  position: relative;
  display: inline-block;
  margin-left: .4em;
  border-left: 3px solid pink;
  padding-left: .4em;
  font-size: 10px;
  user-select: none;
  cursor: pointer;
}
.dueDate[data-date="0"]{
  display: none;
}
.dueDate .clearDate::after{
  content: "\2716";
  color: gray;
}
