body{
  overflow-x: hidden;
}

#panel1, #panel2{

}

#panelsHolder{
  height: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  transition: 0.5s all ease-out;
}

#panelsHolder.one{
  left: 0%;
  width: 145%;
}
#panelsHolder.two{
  left: -90%;
  width: 280%;
}
#panelsHolder.three{
  width: 145%;
  left: -45%;
}
#panelsHolder>div{
  flex: 1;
}


.panel{
  overflow-x: auto;
  overflow-y: scroll;
  display: block;
  border: 1px solid lightgray;
  margin: 20px;
  padding: 10px;
}


/*==================================================
 * Effect 6
 * ===============================================*/
.panel
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}


[data-id="DELETED"]{
  display: none;
}
#saveIndicator{
  position: absolute;
  top: 0;
  left: 0;
}
#saveIndicator.show::after{
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><circle r="5" cx="55" cy="40"></circle><circle r="5" cx="50.60660171779821" cy="50.60660171779821"></circle><circle r="5" cx="40" cy="55"></circle><circle r="5" cx="29.393398282201787" cy="50.60660171779821"></circle><circle r="5" cx="25" cy="40"></circle><circle r="5" cx="29.393398282201787" cy="29.393398282201787"></circle><circle r="5" cx="40" cy="25"></circle><circle r="5" cx="50.60660171779821" cy="29.393398282201787"></circle></svg>');
  -webkit-mask-image: linear-gradient(to bottom right, transparent 25%, black);
  mask-image: linear-gradient(to bottom right, transparent 25%, black);
  width: 4em;
  height: 4em;
  display: block;
  animation: spin 1.8s linear infinite;
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
*{
  box-sizing: border-box;
}

/*OLD:
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: gray;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 3px 3px #E5E5E5;
    border: solid 2px transparent;
}

body{
  font-family: Droid Sans;
  font-size: 13px;
  color: rgb(51, 51, 51);
  padding: 0px;
  margin: 0px;
  height: 100%;
}

input{
  font-family: Helvetica;
  font-size: 11px;
  color: rgb(51, 51, 51);
}

div, input{
  outline: none;
}
@keyframes highlight {
  0% {
    background: lightblue;
  }
  100% {
    background: none;
  }
}

.flashHighlight {
  animation: highlight 1s;
}
.isParent.isCollapsed>.topLine .bullet::before{
  visibility: visible;
}
.isParent.isCollapsed>.topLine:hover .toggle::before{
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 20 50 H 80 M 50 80 V 20" fill="transparent" stroke="darkgray" stroke-width="12" stroke-linecap="round"/></svg>');
  visibility: visible;
}

.isCollapsed>.children{
  display: none;
}
.isComplete>.topLine>.contentHolder>.content{
  text-decoration: line-through;
}
.isComplete{
  color: lightgray;
//  display: none;
}

.showCompleted .isComplete{
  display: initial;
}
.priority{
  display: inline-block;
}

.priority[data-prop-effective-priority]::before{
  content: "\00A0";
  display: inline-block;
  border-left: 3px solid;
  padding-left: 2px;
}
.priority[data-prop-effective-priority="normal"]::before{
  border-left-color: lightgreen;
}
.priority[data-prop-effective-priority="important"]::before{
  border-left-color: #ffbf00;
}
.priority[data-prop-effective-priority="critical"]::before{
  border-left-color: pink;
}

.priority[data-prop-priority]::before{
  content: attr(data-prop-effective-priority);
  border-bottom: 1px solid black;
  border-bottom-style: dotted;
}

.priority[data-prop-priority] .clearPriority::after{
  content: "\2716";
  font-size: .8em;
  color: lightgray;
  margin-left: 3px;
  cursor: pointer;
}
.toggle{
  background-color: white;
  position: relative;
  width: 1em;
  height: 1em;
  margin-right: .4em;
  margin-left: .1em;
  cursor: pointer;
  visibility: hidden;
}
.isParent:not(.isCollapsed)>.topLine:hover .toggle::before{
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 20 50 H 80" fill="transparent" stroke="darkgray" stroke-width="12" stroke-linecap="round"/></svg>');
  visibility: visible;
}
.toggle::before{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
.dateBox{
  cursor: default;
  position: absolute;
  bottom: 0px;
  left: 0px;
  user-select: none;
  font-size: 13px;
}
.dateBox .shell{
  position: absolute;
  top: 1em;
  left: 0px;
  background-color: white;
  z-index: 1000;
  min-width: 215px;
  border: 1px solid black;
  border-radius: 3px;
  overflow: hidden;
}
.dateBox .monthYear{
  border-bottom: 1px solid black;
  width: 100%%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dateBox .monthYear span{
  margin: 1px auto;
  cursor: pointer;
}
.dateBox .monthYear span:hover{
  font-weight: bold;
}
.dateBox .days, .dateBox .dates, .dateBox .row{
  overflow: hidden;
}
.dateBox .dates{
  padding: 1px;
}
.dateBox .days div, .dateBox .row div{
  display: inline-block;
  width: 30px;
  text-align: center;
  overflow: hidden;
  padding: 2px;
}
.dateBox .days {
  background-color: #E9E9E9;
}
.dateBox .otherMonth{
  color: gray;
}
.dateBox .dates .row div{
  cursor: pointer;
}
.dateBox .dates .row div:hover{
  background-color: #96DED1;
}
.dateBox .dates .row .today{
  border: 1px solid red;
  border-radius: 10px;
  padding: 1px;
}
.dateBox .dates .row .selected{
  font-weight: bold;
  border: 1px solid black;
  padding: 1px;
}
.dueDate{
  display: inline-block;
}
.note{
  display: block;
  position: relative;
}

.topLine{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  padding-top: .3em;
  padding-bottom: .4em;
}

.note:first-child>.topLine{
  padding-top: .3em;
}
.note.isParent:not(.isCollapsed)>.topLine, .note:last-child>.topLine{
  padding-bottom: .3em;
}

.left{
  padding-top: 3px;
  padding-left: .1em;
  display: flex;
  align-items: center;
  height: 1em;
}

.bullet{
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
/**/
.bullet::before{
  display: block;
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="lightgray" /></svg>');
  visibility: hidden;
}

.bullet:hover::before{
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  visibility: visible;
  position: absolute;
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="darkgray" /></svg>');
}

.note>.topLine .bullet::after, .note>.topLine .bullet:hover::after{
  position: relative;
  top: -20%;
  left: -20%;
  height: 140%;
  width: 140%;
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="20" fill="gray" /></svg>');
  display: block;
}
.isTodo>.topLine .bullet::after{
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><rect x="25" y="25" width="50" height="50" rx="10" ry="10" stroke="black" fill="white" stroke-width = "2" /></svg>');
}
.isTodo.isComplete>.topLine .bullet::after{
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><rect x="25" y="25" width="50" height="50" rx="10" ry="10" stroke="black" stroke-width = "2" fill="none" /><path d="m 35 50 l 15 15 l 20 -40" stroke="darkgray" stroke-width = "12" stroke-linecap="round" fill = "none" /></svg>');
}

.contentHolder{
  margin-left: .4em;
  width: 100%;
}


.content{
  outline: 0px solid transparent;
  display: inline-block;
  padding-left: 1px;
}

.note>.children{
  margin-left: 2em;
  border-left: 1px solid #E9E9E9;
  padding-left: .2em;
}

.zoom>.topLine>.left{
  display: none;
}
.zoom>.topLine>.contentHolder>.content{
  font-size: 24px;
  font-weight: bold;
}
.zoom>.children{
  margin-left: -.5em;
  border-left: none;
  margin-top: 1em;
  padding-left: 0;
}
.zooming #outline .note:not(.zoom){
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  position: initial;
}
.zoom{
  position: absolute;
  top:0;
  left:0;
  pointer-events: all;
  visibility: visible;
}
.zooming #outline .zoom .note{
  pointer-events: all;
  visibility: visible;
}
.holdingPen{
  display: none;
}

#search{
  padding: 8px;
  width: 15%;
}

#searchBoxHolder{
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  width: 100%;
}

#searchBoxHolder input{
  border: none;
  width: 100%;
}

#searchBoxHolder input::placeholder{
  font: 900 1em 'Font Awesome 5 Free';
  color: lightgray;
  text-align: right;
}

#breadcrumbs{
  display: none;
}
body.zooming #breadcrumbs{
  display: inline-block;
}
#breadcrumbs span{
  color: gray;
  cursor: pointer;
}
#breadcrumbs span::before{
  cursor: default;
  color: lightgray;
  content: ">";
  padding-left: 1em;
  padding-right: 1em;
}
