.panel .corner{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background: linear-gradient(to bottom right, #f8f8f8, #f8f8f8 35%, rgba(0,0,0,0.05), white 50%, #f0f0f0);
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: skew(-3deg, -9deg);
  transition: all .1s ease-out;
}

.panel .corner:hover{
  width: 1.5em;
  height: 1.5em;
  transform: skew(-2deg, -7deg);
  transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.panel>:nth-child(3){
  display: none;
}

.panel.flipped>:nth-child(2){
  display: none;
}
.panel.flipped>:nth-child(3){
  display: initial;
}
