#inbox .emptyMessage{
  display: none;
  margin-left: 5%;
  font-size: 32px;
}

#inbox .emptyMessage:last-of-type{
  display: block;
}

#inbox{
  width: 30%;
  min-height: 60%;
  margin-left: 0;
  margin-right: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid gray;
  border-radius: 4px;
}

body[data-display='inbox'] #outline{
  width: 60%;
  border: 1px solid gray;
  border-radius: 4px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 2em;
  min-height: 60%;
}

body[data-display='inbox'] #outline .isImportant::after{
  right: 56vw;
}
