.priority{
  color: grey;
}

.isImportant::after{
  display: block;
  position: absolute;
  top: .3em;
  right: 39vw;
  text-align: right;
  color: red;
  content: "!";
  font-weight: bold;
}

.isProjectAndIfSoPriority>.topLine .content{
  font-weight: bold;
}

.email{
  color: gray;
}
.email::before{
  margin-right: .5em;
}

.hidden{
  position: absolute;
  opacity: 0;
  z-index: -1000;
  pointer-events: none;
}

.timeEstimate{
  background-color: #FFE9EC;
  font-style: italic;
}

a:link, a:visited, a:active, .tag{
  color: grey;
  text-decoration: underline;
  text-decoration-color: lightgray;
}
a.tag{
  text-decoration: none;
}
.tag:hover{
  background-color: #f1f1f1;
  border-radius: 4px;
  cursor: pointer;
}

.dueDate{
  position: relative;
  display: inline-block;
  margin-left: .4em;
  border-left: 3px solid pink;
  padding-left: .4em;
  font-size: 10px;
  user-select: none;
  cursor: pointer;
}
.dueDate[data-date="0"]{
  display: none;
}
.dueDate .clearDate::after{
  content: "\2716";
  color: gray;
}
